<link rel="stylesheet" type="text/css" href="/css/recipes.css" />
<nav>
  <ul>
    <li><a href="/recipes">Todas las Recetas</a></li>
    <li><a href="#" id="crear-receta-btn">Crear Receta</a></li>
    <li><a href="#">Calculador de Costos</a></li>
  </ul>
</nav>

<hr />

<div id="crear-receta-container" style="display: none;">
  <label for="nombre-receta">Nombre de la Receta:</label>
  <input type="text" id="nombre-receta" name="nombre-receta" required />
  <br /><hr />
  <div id="ingredientes-container">
    <h3>Ingredientes</h3>
    <input
      type="text"
      id="nombre-producto-input"
      name="nombre-producto"
      placeholder="Nombre del Producto"
      required
    />
    <button id="buscar-producto-btn">Buscar Producto</button>
    <ul id="ingredientes-lista"></ul>
  </div>

  <div class="btn-total-agregar">
    <div class="totalrecetatext">
      <strong>Costo Total de la Receta</strong><p id="costsTotalRecipe"></p>
    </div>

    <button id="agregar-receta-btn">Agregar Receta</button>
  </div>
  <!-- Botón para agregar receta -->

</div>

<hr />

<div id="divprueba"></div>

{{#each recipes}}
  <div class="recipe-card">
    <div>
      <h3><strong>Nombre de la Receta:</strong> {{this.nameRecipe}}</h3>

    </div>
    {{#each this.ingredients}}
      <div class="ingredient-card">
        <p><strong>Ingrediente:</strong> {{this.nameProduct}}</p>
        <p><strong>Costo por gr,ml o unidad:</strong>
          {{this.unitCostOfPresentation}}</p>
        <p><strong>Cantidad Necesaria:</strong> {{this.quantityNeeded}}</p>
        <p><strong>Costo Total del Producto:</strong> {{this.costOfProduct}}</p>
      </div>
    {{/each}}
    <p><strong>Costo Total de la Receta:</strong> {{this.costsTotalRecipe}}</p>
    <div class="btn-del-update">
      <button
        class="update-recipe-btn"
        data-id="{{this._id}}"
      >Actualizar</button>
      <button onclick="eliminarReceta('{{this._id}}')">Eliminar Receta</button>
    </div>
  </div>
{{/each}}

<script src="/js/recipe.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>