<link rel="stylesheet" type="text/css" href="/css/recipes.css" />

<h1>Actualizar Receta</h1>

<form id="update-recipe-form">
  <label for="nombre-receta">Nombre de la Receta:</label>
  <input
    type="text"
    id="nombre-receta"
    name="nombre-receta"
    value="{{recipe.nameRecipe}}"
    required
  />
  <input
    type="text"
    id="id_recipe_sel"
    name="id_recipe_sel"
    value="{{recipe._id}}"
    disabled
  />
  <br />

  {{#each recipe.ingredients}}
    <div class="ingredient">
      <label for="nombre-producto">Nombre del Producto:</label>
      <input
        type="text"
        id="nombre-producto"
        name="nombre-producto"
        value="{{this.nameProduct}}"
        disabled
      />
      <br />

      <label for="costo-unidad-producto">Costo por Unidad de Presentación:</label>
      <input
        type="number"
        id="costo-unidad-producto"
        name="costo-unidad-producto"
        value="{{this.unitCostOfPresentation}}"
        disabled
      />
      <br />

      <label for="cantidad-necesaria">Cantidad Necesaria:</label>
      <input
        type="number"
        id="cantidad-necesaria"
        name="cantidad-necesaria"
        value="{{this.quantityNeeded}}"
        required
      />
      <br />

      <label for="costo-total-producto">Costo Total del Producto:</label>
      <input
        type="number"
        id="costo-total-producto"
        name="costo-total-producto"
        value="{{this.costOfProduct}}"
        disabled
      />
      <br />

      <button
        class="eliminar-ingredient-btn"
        data-id="{{this._id}}"
      >Eliminar</button>
      <hr />
    </div>
  {{/each}}

  <div class="total-cost">
    <label for="costsTotalRecipe">Costo Total de la Receta:</label>
    <input
      type="number"
      id="costsTotalRecipe"
      name="costsTotalRecipe"
      value="{{recipe.costsTotalRecipe}}"
      disabled
    />
    <br />
  </div>

  <button id="actualizar-receta-btn" type="submit">Actualizar Receta</button>
</form>

<script src="/js/updateRecipe.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>